{% extends 'layout.html.twig' %}

{% block content %}

    <section class="text" id="popis">
        {{ track.description|raw }}

        {% if track.gpx %}
            <span class="mdl-chip mdl-chip--contact">
                <span class="mdl-chip__contact material-icons mdl-color--purple mdl-color-text--white">directions</span>
                <span class="mdl-chip__text">
                    <a href="{{ track.public_path ~ '/' ~ track.gpx }}">{{ track.gpx }}</a>
                </span>
            </span>
        {% endif %}
    </section>

    <section class="mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-color--white" id="mapa">
        <div id="map"></div>
    </section>

    {% if track.images %}
        <div id="gallery" class="mdl-grid mdl-cell mdl-cell--12-col">
            {% for image in track.images %}
                <a href="{{ track.public_path ~ '/' ~ image }}" class="mdl-cell mdl-cell--2-col mdl-shadow--2dp mdl-color--white">
                    <img class="img" src="{{ track.public_path ~ '/' ~ image }}"/>
                </a>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="https://rawgithub.com/mpetazzoni/leaflet-gpx/master/gpx.js"></script>
    <script src="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js"></script>
    <script src="assets/js/zepto.min.js"></script>
    <script src="assets/js/magnific-popup.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="assets/js/leaflet.elevation-0.0.4.min.js"></script>
    <script>
        var map = L.map('map', {
            fullscreenControl: true
        });

        L.tileLayer('http://t{s}.freemap.sk/T/{z}/{x}/{y}.jpeg', {
            attribution: 'Map data &copy; <a href="http://www.osm.org">OpenStreetMap</a>'
        }).addTo(map);

        var el = L.control.elevation({
            position: "topright",
            theme: "purple-theme",
            useHeightIndicator: true,
            hoverNumber: {
                decimalsX: 3, //decimals on distance (always in km)
                decimalsY: 0, //deciamls on hehttps://www.npmjs.com/package/leaflet.coordinatesight (always in m)
                formatter: undefined //custom formatter function may be injected
            },
            collapsed: true,
        });
        el.addTo(map);


        var gpx = '{{ track.public_path ~ '/' ~ track.gpx }}';
        var g = new L.GPX(gpx, {
            async: true,
            marker_options: {
                startIconUrl: 'assets/img/pin-icon-start.png',
                endIconUrl: 'assets/img/pin-icon-end.png',
                shadowUrl: 'assets/img/pin-shadow.png'
            }
        });
        g.on('loaded', function (e) {
            map.fitBounds(e.target.getBounds());
        });
        g.on('addline', function (e) {
            el.addData(e.line);
        });
        g.addTo(map);

        $('#gallery').magnificPopup({
            delegate: 'a',
            type: 'image',
            gallery: {
              enabled: true
            }
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css"/>
    <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css"
          rel="stylesheet"/>
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/leaflet.elevation-0.0.4.css">
{% endblock %}
